@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100vw;
    min-height: 200vh;
}
.topBar{
    padding: 20px max(10px, 2vw);
    position:fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.424);
    width: 100%;
    z-index: 1;
}
.logo{
    height: max(50px, 5vw);
}
.logo > img{
    height: 100%;
}
.tabBox{
    margin: 0 max(20px, 5vw);
}
li{
    list-style: none;
    padding: 0 max(5px, 2vw);
}
.topBar > ul > li > p {
    font-size: max(12px, 1.4vw);
    line-height: max(12px, 1.4vw);
    color: #0081d4;
}
.topBar > ul > li > p > span{
    font-weight: 800;
    color: black;
}





.telNum{
    font-size: max(12px, 1.5vw);
    font-weight: 700;
}
.topImgBox{
    background-image: url("mairie.jpg");
    background-position: center;
    background-size: cover;
}
.topImgTitle{
   height: 100%;
   width: 100%;
   font-size: 50px;
   font-weight: 900;
   padding: 100px;
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
}