@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100vw;
    min-height: 200vh;
}
.topBar{
    padding: 20px max(10px, 2vw);
    position:fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.424);
    width: 100%;
    z-index: 1;
}
.logo{
    height: max(50px, 5vw);
}
.logo > img{
    height: 100%;
}
.tabBox{
    margin: 0 max(20px, 5vw);
}
li{
    list-style: none;
    padding: 0 max(5px, 2vw);
}
.topBar > ul > li > p {
    font-size: max(12px, 1.3vw);
    line-height: max(12px, 1.3vw);
    color: #0081d4;
}
.topBar > ul > li > p > span{
    font-weight: 800;
    color: black;
}





.telNum{
    font-size: max(12px, 1.5vw);
    font-weight: 700;
}
.topImgBox{
    background-image: url("mairie.jpg");
    background-position: center;
    background-size: cover;
}
.topImgTitle{
   height: 100%;
   width: 100%;
   font-size: 50px;
   font-weight: 900;
   padding: 100px;
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
}

.pathBox{
    background-color: #924500;
    padding: max(10px, 2vw);
}

.mainSection{
    padding: 0px 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleLine{
    width: 100%;
    margin-top: 150px;
}
.lineTitle{
    font-size: max(12px, 2vw);
    font-weight: 700;
    background-color: white;
    padding: 0 100px;

}
.wideCard{
    width: 100%;
    background-color: #924500;
    border-radius: 40px;
    margin-top: 150px;
    overflow: hidden;
    display: flex;
}
.wideCard > img{
    width: 50%;
}
.mayorInfo{
    color: white;
    width: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mayorInfo > h6{
    color: black;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    margin-top: 15px;
}
.narrowCardBox{
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.narrowCard{
    width: 46%;
    /* height: 250px; */
    background-color: #383a3b;
    border-radius: 40px;
    margin-top: 150px;
    overflow: hidden;
    display: flex;
}
.narrowCard > img {
    width: 50%;
    align-self: center;
}
.teamMemberInfo{
    color: white;
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teamMemberInfo > h6{
    color: white;
    font-size: 16px;
    font-weight: 200;
    font-style: italic;
    margin-top: 10px;
}
.teamMemberInfo > p{
    width: 100%;
    color: white;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
}
.tinyCardBox{
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tinycard{
    width: 20%;
    background-color: #0081d4;
    padding: 30px 50px;
    border-radius: 0 0 25px 25px;
    margin: 150px 25px 0 25px;
    display: grid;
    place-items: center;
}
.tinycard > h4{
    font-size: 18px;
    font-weight: 700;
    color: white;
}




